{{define "specific"}}{{$cs := .CoinShortcut}}{{$bb := .Info.Blockbook}}{{$be := .Info.Backend}}{{$blocks := .Blocks}}{{$txs := .MempoolTxids.Mempool}}{{$data := .}}
{{- if $bb.InitialSync -}}
<h3 class="bg-danger text-white" style="padding: 20px;">Application is now in initial synchronization and does not provide any data.</h3>
{{- end -}}
{{- if not $bb.SyncMode -}}
<h3 class="bg-warning text-white" style="padding: 20px;">Synchronization with backend is disabled, the state of index is not up to date.</h3>
{{- end -}}
{{- if .InternalExplorer -}}
<h1 align="center">{{.CoinLabel}} Block Explorer</h1>
<br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 form-group">
        <form id="search" action="/search" method="get">
            <input name="q" type="text" class="form-control" placeholder="Search for block, transaction, address or xpub" focus="true">
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
{{- end -}}
<br>
<h3 style="display: inline;">Latest Blocks</h3> &nbsp;(<a href='/blocks'>see all</a>)
<div class="data-div">
   <table class="table table-striped data-table table-hover">
       <thead>
           <tr>
               <th style="width: 10%;">Height</th>
               <th style="width: 48%;">Hash</th>
               <th>Timestamp</th>
               <th class="text-right" title="number of Transactions in block" style="width: 10%;">Transactions</th>
               <th class="text-right" title="size in Bytes" style="width: 10%;">Size</th>
           </tr>
       </thead>
       <tbody>
           {{- range $b := $blocks.Blocks -}}
           <tr>
               <td><a href="/block/{{$b.Height}}">{{$b.Height}}</a></td>
               <td class="ellipsis">{{$b.Hash}}</td>
               <td>{{formatUnixTime $b.Time}}</td>
               <td class="text-right">{{$b.Txs}}</td>
               <td class="text-right">{{$b.Size}}</td>
           </tr>
           {{- end -}}
       </tbody>
   </table>
</div>

<h3>Mempool Transactions</h3>
<div class="row h-container">
   <h5 class="col-md-6 col-sm-12">{{$.MempoolTxids.MempoolSize}} Transactions in mempool</h5>
</div>
<div class="data-div">
   <table class="table table-striped data-table table-hover">
       <thead>
           <tr>
               <th style="width: 70%;">Transaction</th>
               <th style="width: 30%;">First Seen Time</th>
           </tr>
       </thead>
       <tbody>
           {{- range $tx := $txs -}}
           <tr>
               <td class="ellipsis"><a href="/tx/{{$tx.Txid}}">{{$tx.Txid}}</a></td>
               <td>{{formatUnixTime $tx.Time}}</td>
           </tr>
           {{- end -}}
       </tbody>
   </table>
</div>
{{end}}
